@import "tailwindcss";

@theme {
  --text-h1: 70px;
  --text-h2: 30px;
  --text-small: 0.9rem;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-crimson: "Crimson Text", serif;
}

body {
  background-color: #18181b;
  font-family: "Crimson Text", sans-serif;
}

.bebas_font {
  font-family: "Bebas Neue", sans-serif;
}

.crimson_font {
  font-family: "Crimson Text", sans-serif;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", sans-serif;
  line-height: normal !important;
}

p {
  line-height: normal !important;
}

/* Buttons */
.btn {
  padding: 4px 20px 6px;
  border-radius: 10px;
}

.btn-large {
  padding: 8px 22px 10px;
  font-size: 1.2rem;
}

.btn-small {
  padding: 4px 10px 4px;
  font-size: 0.9rem;
}

.btn-primary {
  background: red;
}

.btn-secondary {
  background: blue;
}

.btn-accent {
  background: yellow;
}
